/// requires ../_halflings.scss

.pager {
    text-align: center;
    list-style: none;

    > li {
        display: inline;

        > a, input {
            display: inline-block;
            border: 1px solid #DDD;
            border-radius: 5px;
        }

        > a {
            padding: 5px 14px;
            cursor: pointer;
            color: #428BCA;

            &[disabled] {
                cursor: default;
                color: #777;
            }
        }

        > input {
            padding: 7px;
            width: 50px;
            text-align: center;
            margin-left: 10px;
            
            &.invalid {
                border-color: red;
            }
        }
    }
}